*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color: #121212;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.heading{
    text-align: center;
    font-size: 40px;
    color: #333;
    padding: 20px;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}
.heading span{
    color: rgb(129 162 182 / 50%);
}
header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: .3s;
}
.logo{
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
}
.icons{
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    font-size: 10px;
    display: flex;
    padding-right: 40px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p--font);
    color: var(--text-color);
    font-weight: 700;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}
.navbar a:hover{
    background: rgb(129 162 182 / 20%);
    color: #fff;
}
.icons{
    display: inline-block;
}
.icons img{
    color: var(--text-color);
    font-size: 10px;
    margin-left: 15px;
}
.icons img:hover{
    opacity: 0.5;
}
.pheading{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
.pheading span{
    color: rgb(129 162 182 / 60%);
}
/* The navbar ends here*/
.about{
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/*.about .content img{
   margin-top: 200px;
    margin-left: 200px;
    height: auto;
    width: 600px;
    max-width: 100%;
    border-radius: 10%;
}*/
.text{
    margin-top: 100px;
    width: 550px;
    max-width: 100%;
    padding: 0 10px;

}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
    color: #ffcc74;
    font-size: 45px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h5{
    color: #333;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text p{
    color: rgba(51, 51, 51, 0.753);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
button{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
}
button a{
    color: #121212;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
button a:hover{
    color: rgb(155, 142, 142);
}
button:hover{
    background: #ffe0aa;
}
/* footer */
footer{
    background-color: #f3f4f6;
    height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-align: none;
    color: #f63e4e;
    font-weight: bold;
    cursor: pointer;
    transition: .6s;
}
footer p a:hover{
    color:#44abff;
}
.about{
    text-align:center;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.fMenuTitle{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffd58e;
}
.fIcons img{
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.fIcons img:hover{
    background: #ffd58e;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}





@media screen and (max-width: 480px) {
    body{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    header .img{
        display: block;
    }
    .logo{
        font-size: 1rem;
        font-weight: bolder;
    }
    .heading{
        text-align: center;
        font-size: 40px;
        color: #333;
        padding: 20px;
        margin: 2rem 0;
        background: rgba(255, 51, 153,.05);
    }
    .pheading{
    font-size: 30px;
    }
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    
}
@media screen and (max-width: 450px){
    .text h1{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .text h5{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .text p{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    button{
        font-size: 15px;
        font-weight:800;
    }
    footer{
        background-color: #f3f4f6;
        height: 10vh;
    }
    footer p{
        text-align: center;
        line-height: 10vh;
        font-size: 16px;
    }
}